/***********************************************************************************************************************
 * CORE
 **********************************************************************************************************************/
@font-face {
    font-family: 'geomanist-book';
    src: url('fonts/geomanist-book-webfont.eot');
    src: url('fonts/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist-book-webfont.woff2') format('woff2'),
         url('fonts/geomanist-book-webfont.woff') format('woff'),
         url('fonts/geomanist-book-webfont.ttf') format('truetype'),
         url('fonts/geomanist-book-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geomanist-light';
    src: url('fonts/geomanist-light-webfont.eot');
    src: url('fonts/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist-light-webfont.woff2') format('woff2'),
         url('fonts/geomanist-light-webfont.woff') format('woff'),
         url('fonts/geomanist-light-webfont.ttf') format('truetype'),
         url('fonts/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist-black';
    src: url('fonts/geomanist-black-webfont.eot');
    src: url('fonts/geomanist-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist-black-webfont.woff2') format('woff2'),
         url('fonts/geomanist-black-webfont.woff') format('woff'),
         url('fonts/geomanist-black-webfont.ttf') format('truetype'),
         url('fonts/geomanist-black-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'geomanist-medium';
    src: url('fonts/geomanist-medium-webfont.eot');
    src: url('fonts/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/geomanist-medium-webfont.woff2') format('woff2'),
         url('fonts/geomanist-medium-webfont.woff') format('woff'),
         url('fonts/geomanist-medium-webfont.ttf') format('truetype'),
         url('fonts/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	padding: 0;
	margin-top: 70px;
	font-size: 14px;
	-webkit-overflow-scrolling: touch;
}

.header {
	background-color: orange;
}

.footer {
	height: 50px;
	background-color: purple;
	color: white;
}

img {
	max-width: 100%;
}



p {
	font-family: 'geomanist-light', sans-serif;
	font-size: 0.9em;
	line-height: 1.6em;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

h1 {
	font-family: 'geomanist-medium', sans-serif;
	font-size: 0.8em;
	letter-spacing: 0.8px;
	margin-top: 0px;
	letter-spacing: 0.8px;
	display: inline;
	margin-right: 0px;
}

h2 {
	font-family: 'geomanist-light', sans-serif;
	font-size: 0.8em;
	margin-top: 0px;
	letter-spacing: 0.8px;
	display: inline;
}

h3 {
	font-family: 'geomanist-medium';
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1em;
	/*text-align: center;*/
	line-height: 1.3em;
	color: black;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}


h4 {
	font-family: 'geomanist-medium';
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 1em;
	/*text-align: center;*/
	line-height: 1.3em;
	color: black;
	letter-spacing: 0.6px;
	text-transform: uppercase;
	
}

caption {
	font-family: 'geomanist-light', sans-serif;
	font-size: 0.5em;
	line-height: 1.7em;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.tags {
	margin-top: 5px;
	font-family: 'geomanist-light';
	font-size: 0.8em;
	letter-spacing: 0.8px;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	/*background-color: red;*/
}
.row
{
	margin-left: -20px;
	margin-right: -20px;
}
[class*="col-"] {
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 992px) {
		h2 {
			display: none;
		}
	}		

@media (max-width: 768px) {		
		h1 {
			font-size: 1.15em;
		}
	}
/***********************************************************************************************************************
 * NAVBAR
 **********************************************************************************************************************/

body > .navbar {
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	top: 0;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
	margin-right: 0px;
	margin-left: 0px;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand h6 a,
.navbar>.container-fluid .navbar-brand h6 a:hover,
.navbar>.container-fluid .navbar-brand h6 a:focus
{
	display: inline;
	padding-left: 0;
	margin-left: 0;
	color: black !important;

}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover
{
	background-color: transparent;
}
.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar
{
	background-color: #696969;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus
{
	color: #9d9d9d;
}

.navbar-inverse .navbar-nav>li>a:hover
{
	color: #696969;
}
.navbar-inverse .navbar-nav>li>a.active
{
	color: black;
}

.navbar-inverse.navbar-fixed-top {
	border-radius: 0px;
	border: none;
	background-color: white;
	height: 70px;
}

.navbar .navbar-nav a {
	font-family: 'geomanist-light';
	text-transform: uppercase;
	font-size: 1.02em;
	letter-spacing: 0.8px;
    padding-right: 0px;
    padding-left: 30px;
    padding-top: 28px;
}
.navbar .navbar-nav.social li a {
    padding-left: 10px;
}

/* Larger padding for facebook icon  */
.navbar .navbar-nav.social {
	padding-left: 35px;
	/*margin-right: 29px;*/
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}

.navbar-inverse .navbar-form {
	background-color: white;
	float: left;
	width: 100%;
	border-top: 0px;
}


.navbar-inverse .navbar-nav > a:focus {
    color: black;
    background-color: white;
}

.navbar .container {
	max-height: 100%;
}

.navbar p {
	font-family: 'geomanist', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.3em;
	letter-spacing: 0px;
	margin-bottom: 20px;
	margin-top: 30px;
	color: black;
	display: inline;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header
{
	max-height: 100%;
	max-width: 100%;
}

a.navbar-brand {
	display: inline;
	height: 100%;
}

.navbar img {
	height: 25px;
	display: inline;
	margin-right: 10px;
	margin-top: -5px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: black;
}

.container .navbar-collapse > div {
	display: inline-block;
}

@media (max-width: 767px) {

	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse
	{
		max-height: none;
	}

	.navbar-inverse .navbar-collapse {
		padding: 0;
	}

	.navbar-nav {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.navbar-nav li {
		text-align: center;
	}
	.navbar .navbar-nav.social {
		display: block;
		margin: 0 auto;
		padding: 0;
		width: 106px;
	}
	.navbar-nav.social li {
		display: inline-block;
		float: left;
		text-align: center;
		margin: 0 5px;
	}

	.container .navbar-collapse > div {
		display: block;
		width: 100%;
		overflow: auto;
		background-color: white;
		border-top: 1px solid #eaeaea;
	}
	.container .navbar-collapse .navbar-nav li a {
		font-size: 1.15em;
		margin: 20px 0;
		padding: 0;
	}

	.container .navbar-collapse .navbar-nav.social li a {
		margin: 15px 0 35px 0;
	}

	.navbar .container {
		margin: 0;
	}

	.container h6 {
		overflow: auto;
	}

	.container .navbar-header button {
		padding-right: 0;
		margin-right: 0;
		margin-top: 19px;
		border: none;
	}

}

/***********************************************************************************************************************
 * JUMBOTRON
 **********************************************************************************************************************/

.jumbotron {
	position: relative;
	background-color: white;
	color: black;
	text-align: center;
	margin-bottom:  0px;
	width: calc(100% + 20px);
	/*padding-right: 20px;
	padding-bottom: 60px;*/
}

.jumbotron h1 {
	font-family: 'geomanist-light';
	line-height: 1.2em;
	font-size: 1.1em;
}

.jumbotron a {
	color: black;
	font-family: 'geomanist-light';
}

.jumbotron a:hover {
	color: grey;
	font-family: 'geomanist-light';
}

/***********************************************************************************************************************
 * PROJECT-OVERVIEW
 **********************************************************************************************************************/

.grid-item:hover .item-title {
	display: block;
}

.grid-item:hover .item-image {
	display: none;
}

.item-title {
	/* position: absolute;
	display: none;
	top: 0;
  	left: 0; */
  	padding: 10px 0 0 0px;
	background-color: rgba(255,255,255,1); 
  	width: 100%;
  	height: 100%;
  	color: black;
  	transition: 1s;
}

.item-title-text {
  /* position:absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) 
  translateY(-50%);
  text-align: center; */
}

a:hover .item-title {
	color: black;
}

a:-webkit-any-link {
	text-decoration: none;
}

.grid {
	margin-bottom: 40px;
	padding-top: 40px;
}

body.section-project_overview .grid,
body.section-home .grid
{
	padding-top: 20px;
}

.grid-background {

}

.item-image {
	position: absolute;
}

.grid-item { 
	width: calc(100% / 3 - 60px / 3);
	margin-bottom: 30px;
}

.grid-item:hover {
	color: black;
}

.grid-item:last-child {
	margin-bottom: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (min-width: 768px) and (max-width: 991px) {
	.grid {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.grid-item {
		width: calc( (100% / 2) - 15px );
	}

	.grid-item:hover .item-title {
		display: none;
	}
	.grid-item:hover .item-image {
		display: block;
	}
}

@media (max-width: 767px) {
	.grid {
		margin-left: 0;
		margin-bottom: 20px;
	}
	.grid-item {
		width: 100%;
	}
	.grid-item:hover .item-title {
		display: none;
	}
	.grid-item:hover .item-image {
		display: block;
	}
}

/***********************************************************************************************************************
 * PROJECT-DETAIL
 **********************************************************************************************************************/

.project {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 0px;
}

.project-image {
	margin-bottom: 40px;
}


@media (max-width: 767px) {
	.project {
		width: 100%;
		padding-top: 20px;
	}

	.project-image {
		margin-bottom: 20px;
	}
}

hr {
	margin: 0px 0px;
	border-top: 1px solid lightgrey;
}

/***********************************************************************************************************************
 * PROJECT DOKWERK
 **********************************************************************************************************************/
.dokwerk {
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT MACHINE CUISINE
 **********************************************************************************************************************/
.happynewyear {
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT MACHINE CUISINE
 **********************************************************************************************************************/
.rickey {
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT SCHOUWBURG
 **********************************************************************************************************************/
.schouwburg {
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT DRUKDRUKDRUK
 **********************************************************************************************************************/
.drukdrukdruk {
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT FAAS
 **********************************************************************************************************************/
.faas{
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT DRAWING
 **********************************************************************************************************************/
.drawing {
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT catwoman
 **********************************************************************************************************************/
.catwoman {
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT SCHELDEGROEP
 **********************************************************************************************************************/
.scheldegroep {
	/*background-color: #f6f6f6;*/
	color: black;
}

/***********************************************************************************************************************
 * PROJECT VLISSINGENVLOOIT
 **********************************************************************************************************************/
.vlissingenvlooit {
	/*background-color: #f6f6f6;*/
	color: black;
}



/***********************************************************************************************************************
 * STUDIO
 **********************************************************************************************************************/

#studio {
	color: black;
	padding-top: 20px;
}

.studio-image {
	margin-bottom: 40px;
}

.studio-image:last-child {
	margin-bottom: 40px;
}

.col-side {
	margin-bottom: 30px;
}

/*#studio p {
	font-family: 'geomanist-book';
	line-height: 1.3em;
	letter-spacing: 0px;
	font-size: 1.5em;
}*/

@media (max-width: 768px) {
	#studio {
		padding-top: 20px;
	}

}

/***********************************************************************************************************************
 * ABOUT
 **********************************************************************************************************************/

#about {
	padding-top: 20px;
	color: black;
}

/*#about p {
	font-family: 'geomanist-book';
	line-height: 1.2em;
	letter-spacing: 0px;
	font-size: 4em;
}*/

@media (max-width: 767px) {
	#about {
		padding-top: 20px;
	}
}

/***********************************************************************************************************************
 * CONTENT
 **********************************************************************************************************************/
#content {
	margin-top: 70px;
	/*width: 100%;*/.
}

@media (max-width: 767px) {
	#content {
		/*width: calc(100% + 20px);*/
		/*padding-right: 20px;*/
	}
}

/***********************************************************************************************************************
 * FOOTER
 **********************************************************************************************************************/
#footer {
	height: 25px;
	width: 100%;
	padding-right: 25px; 
	/*position: fixed;*/
	/*top: calc(100% - 25px);*/
	overflow: hidden;
	background-color: black;
	color: white;
	font-family: 'geomanist-light', sans-serif;
	font-size:0.8em;
	line-height: 27px;
	text-align: right;
}
